<!DOCTYPE html>
<html>
    <head>
        <Title>404</Title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>

</html>